[mysqld]
log-bin=mysql-bin 
binlog-format=ROW 
server_id=1
character-set-server=utf8mb4
#skip-host-cache
skip-name-resolve
log_warnings = 2
max_connections=512
innodb_buffer_pool_size = 64M
innodb_log_file_size=128M
enforce_gtid_consistency = on
gtid_mode = on
max_binlog_size = 500M
expire_logs_days = 15
bulk_insert_buffer_size = 100M
# 加快速度,临时
innodb_flush_log_at_trx_commit=0

[client]
default-character-set=utf8mb4

[mysql]
default-character-set=utf8mb4