[mysqld]
log-bin=mysql-bin 
binlog-format=ROW 
server_id=1
character-set-server=utf8mb4
#skip-host-cache
skip-name-resolve
max_connections=512
innodb_buffer_pool_size = 1280M
innodb_log_file_size=1280M
enforce_gtid_consistency = on
gtid_mode = on
log_replica_updates = on
max_binlog_size = 500M
binlog_expire_logs_seconds = 864000
bulk_insert_buffer_size = 1000M
# 加快速度,临时
innodb_flush_log_at_trx_commit=0
# mysql8 并行查询
innodb_parallel_read_threads=16

[client]
default-character-set=utf8mb4

[mysql]
default-character-set=utf8mb4